[Desktop Entry]
Type=Application
Name=RexPlayer
GenericName=Android App Player
Comment=Lightweight high-performance Android app player
Exec=rexplayer %f
Icon=rexplayer
Terminal=false
Categories=Development;Emulator;System;
Keywords=Android;Emulator;Virtual Machine;Player;
MimeType=application/x-rexplayer-instance;
StartupNotify=true
StartupWMClass=RexPlayer
Actions=new-instance;

[Desktop Action new-instance]
Name=New Instance
Exec=rexplayer --new-instance
